<app-loader *ngIf="!recipe$"></app-loader>

<ng-container *ngIf="recipe$ | async as rec">
  <header class="header">
    <h1 class="header__name">{{ rec.name | uppercaseFirstLetter }}</h1>
    <p class="header__rating">{{ rec.rating | rating }}</p>
  </header>
  <main class="content">
    <section class="content__description">
      <ul class="list">
        <li
          class="list__element list__element--desc"
          *ngFor="let desc of rec.description"
        >
          {{ desc }}
        </li>
      </ul>
    </section>
    <section class="content__ingredient">
      <ul class="list">
        <li class="list__element" *ngFor="let ingrd of rec.ingriedients">
          {{ ingrd.name }} - {{ ingrd.value }}
        </li>
      </ul>
    </section>
  </main>
</ng-container>
