<app-container class="listPanel">
  <app-search-sort-form></app-search-sort-form>
  <app-recipe-list></app-recipe-list>
</app-container>

<app-container class="formPanel">
  <nav class="menu">
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="form"
        routerLinkActive="menu__link--active"
      >
        Dodaj Przepis
      </a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        routerLink="details"
        routerLinkActive="menu__link--active"
      >
        Szczegóły
      </a>
    </li>
  </nav>

  <router-outlet></router-outlet>
</app-container>
